.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
 }

 body {
   background-color: #ffebee;
   font-family: 'Source Code Pro', monospace;
 }

 a:hover {
   color: #e57373!important;
 }

 /*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Corben', cursive;
font-family: 'Source Code Pro', monospace;
 */
