.avatar {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
 }

 .navbar_color {
  color: #d7ccc8 !important;
}

.menuNoSelected {
  color: #d7ccc8 !important;
}

.menuSelected {
  color: #a1887f !important;
}

 body {
   /*background-color: #f9fbe7;*/
   font-family: 'Source Code Pro', monospace;
 }

 a:hover {
   color: #a1887f !important;
   /*background-color: #9e9d24 !important;*/
 }

 /*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Corben', cursive;
font-family: 'Source Code Pro', monospace;
 */
