.admin-layout {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 1rem;
}

.admin-area-border {
  border: 0.1rem solid var(--main-border-color);
}

.admin-menu-option {
    border: 0.1rem solid var(--main-border-color);

}